<div id="main-background-image">
    <div id="title-box">
        <div style="text-align: center; margin: auto; font-size: 32px;"><strong>StormChaser Outdoor Company Warehouse Management System</strong></div>
        <p-button label="Find Item" (onClick)="changeRequestType('GET')" id="find-button"></p-button>
        <p-button label="Add Item" (onClick)="changeRequestType('POST')" id="add-button"></p-button> <!-- Need to add some padding/margin in styling here, but it gives errors? -->
        <p-button label="Update Item" (onClick)="changeRequestType('PUT')" id="update-button"></p-button>
        <p-button label="Delete Item" (onClick)="changeRequestType('DELETE')" id="delete-button"></p-button>
    </div>
    <br>
    <div id="item-container">
        <div id="background-box">
            <div id="form-container">
                <p style="text-align: center;"><strong style="font-size: 24px;">Manage Inventory</strong></p>

                <div>
                    Slot ID:
                    <input id="slot-id-input" type="text" [(ngModel)] = "slotIDInputText"/>
                </div>
                <div>
                    Space Required:
                    <input id="space-required-input" type="number" [(ngModel)] = "spaceRequiredInputText"/>
                </div>
                <div>
                    Description:
                    <input id="description-input" type="text" [(ngModel)] = "descriptionInputText"/>
                </div>
                <div style="padding: 5px;">
                    Type:
                    <select id="type-dropdown-input" [(ngModel)] = "typeInputDropdown">
                        <option value="EQUIPMENT">Equipment</option>
                        <option value="MEDICAL">Medical</option>
                        <option value="FOOD">Food</option>
                        <option value="KITCHEN">Kitchen</option>
                        <option value="SHELTER">Shelter</option>
                        <option value="CLOTHING">Clothing</option>
                        <option value="FOOTWEAR">Footwear</option>
                        <option value="LEISURE">Leisure</option>
                        <option value="STORAGE">Storage</option>
                        <option value="MISC">Misc</option>
                    </select>
                </div>
                <p-button label="Send Request" (onClick)="processRequest()" id="send-button"></p-button>
            </div>
        </div>
        <div id="results-container">
            <!-- Append child card components in DOM Manipulation here. -->
            <div *ngFor="let wObj of warehouseObjects">
                <warehouse-object-component [warehouseObject]="wObj"></warehouse-object-component>
            </div>
            <div *ngFor="let message of jsonResults">
                <json-result-message-component [jsonResultMessage]="message"></json-result-message-component>
            </div>
        </div>
    </div>
  </div>